* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: lightgrey;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 736px;
  height: 512px;
  background-color: white;
  border-radius: 32px;
  display: flex;
  flex-direction: row;
}
.blue {
  width: 368px;
  height: 512px;
  background: var(
    --Gradient-1,
    linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%)
  );
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 38px;
  flex-direction: column;
}
.result {
  color: hsla(241, 100%, 89%, 1);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 31px;
  width: 125px;
}
.circle {
  background: var(
    --Gradient-2,
    linear-gradient(
      180deg,
      #4d21c9 0%,
      rgba(37, 33, 201, 0) 100%,
      rgba(37, 33, 201, 0) 100%
    )
  );
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.heading {
  color: white;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 28px;
  width: 83px;
  height: 42px;
}
.comment {
  color: hsla(241, 100%, 89%, 1);
  text-align: center;
  font-family: "Hanken Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 14px;
  width: 260px;
  height: 69px;
}
.score {
  color: white;
  text-align: center;
  width: 81px;
  height: 72px;
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 72px; /* 100% */
}
.total {
  color: lightblue;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 52px;
  height: 23px;
  text-align: center;
}
.summary {
  color: hsla(223, 30%, 27%, 1);
  font-size: 24px;
  font-weight: 700;
  height: 31px;
  width: 104px;
  margin-top: 38px;
  margin-left: 40px;
}
.allresults {
  width: 368px;
height: 397px;
flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.differentscores {
  width: 288px;
  height: 56px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}
#first {
  background: var(
    --red-95-white,
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(255, 255, 255, 0.95) 100%
    ),
    #f55
  );
  margin-top: 28px;
}
#second {
  background: var(
    --yellow-95-white,
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(255, 255, 255, 0.95) 100%
    ),
    #ffb21e
  );
  margin-top: 16px;
}
#third {
  background: var(
    --green-95-white,
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(255, 255, 255, 0.95) 100%
    ),
    #00bb8f
  );
  margin-top: 16px;
}
#fourth {
  background: var(
    --blue-95-white,
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(255, 255, 255, 0.95) 100%
    ),
    #1125d6
  );
  margin-top: 16px;
}
.iconbox {
  display: flex;
  flex-direction: row;
}
.reaction {
  color: var(--Red, #f55);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 12px;
}
.yourscore {
  color: var(--Dark-Navy, #17203a);
  text-align: right;

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.fullscore {
  color: var(--Dark-Navy, #6c717d);
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.memory {
  color: var(--Yellow, #ffb21e);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 12px;
}
.verbal {
  color: var(--Green, #00bb8f);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 12px;
}
.visual {
  color: var(--Blue, #1125d6);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 12px;
}
button {
  width: 288px;
  height: 56px;
  color: var(--White, #fff);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 128px;
  background: var(--Dark-Navy, #303B59);
  margin-top: 41px;
}